* {
	margin: 0;
	padding: 0;
}

body {
	padding: 50px 0px;
	background: #eee;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Roboto', helvetica, arial, sans-serif;
}

.content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 50px;
}

h1 {
	text-align: center;
	font-size: 32px;
	line-height: 42px;
	font-weight: normal;
	color: #666;
	font-family: 'Droid Sans Mono', helvetica, arial, sans-serif;
}

h2 {
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	color: #999;
}

.columns {
	margin-bottom: 30px;
}

a.button {
	display: inline-block;
	padding: 30px 50px;
	background: #DF698D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

	a.button:hover {
		padding: 30px 60px;
	}

	a.button:active {
		padding: 30px 60px;
		background: #333;
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		transform: scale(0.95);
		-webkit-transition: 0s;
		-moz-transition: 0s;
		transition: 0s;
	}

.test-block {
	background: #ccc;
}